app-tile {
  display: flex;
  flex: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 100%;
}

.tile-container {
  background-color: #333;
  display: flex;
  flex-flow: column;
  flex: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 100%;
}

.tile-header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 25px;
  padding: 0 5px;
  min-height: 25px;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #999;
  background-color: #333;
  user-select: none;
}

.tile-header .tile-name:hover {
  cursor: grab;
}

.tile-header .tile-name:active {
  cursor: grabbing;
}

.tile-header .tile-name {
  display: flex;
  flex: 2;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  word-break: break-all;
  text-overflow: ellipsis;
}

.tile-header .tile-actions > *:hover {
  cursor: pointer;
}

.tile-header .tile-actions > *:active i {
  color: #ccc;
}

.tile-content {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 2px 2px;
  background-color: #999;
}

.tile-stopped {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 25px;
  right: 2px;
  bottom: 0px;
  left: 2px;
  background-color: black;
  opacity: 0.55;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}
