<div class="logger-panel">
  <span
    class="logger-grip"
    (dblclick)="toggleHeight($event)"
    (mousedown)="onGripMouseDown($event)"
    [ngStyle]="{'bottom': height + 'px'}">
    <i class="fa fa-bars"></i>
  </span>
  <div class="logger-actions" [ngStyle]="{'bottom': height + 'px'}">
    <span class="logger-action" (click)="reverseLogs()">Reverse</span>
    <span class="logger-action" (click)="clearLogs()">Clear</span>
  </div>
  <div class="logger-container" [ngStyle]="{'height': height + 'px'}">
    <div class="logger">
      <div class="list-group">
        <div
          *ngFor="let log of logger.getLogs()"
          class="list-group-item list-group-item-action list-group-item-{{convertLevel(log.level)}}">
          <span class="date">
            <pre><code>{{ log.date | date:'dd/MM/yy HH:mm:ss' }}</code></pre>
          </span>
          <span class="tag">
            <pre><code>{{ log.tag }}</code></pre>
          </span>
          <span class="line">
            <pre><code>{{ log.line }}</code></pre>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
