pre {
  margin: 0;
}

.logger-container {
  z-index: 2000;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 27px;
  border: 1px solid #ccc;
  background-color: #333;
  overflow-y: scroll;
  word-wrap: break-word;
}

.logger-grip {
  z-index: 1000;
  font-size: 12px;
  padding: 0 10px;
  position: fixed;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 50%;
  bottom: 26px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.logger-grip:hover {
  cursor: grab;
  background-color: #444;
  color: #fff;
}

.logger-grip:active {
  cursor: grabbing;
}

.logger-actions {
  font-family: "DeJaVu Mono", "monospace";
  font-size: 12px;
  position: fixed;
  right: 5px;
  bottom: 26px;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logger-actions>.logger-action {
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.logger-actions>.logger-action:hover {
  cursor: pointer;
  background-color: #444;
  color: #fff;
}

.list-group-item {
  display: flex;
  padding: 2px 0;
  border-radius: 0;
}

.list-group-item>*>* {
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  align-self: flex-start;
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #666;
}

.tag {
  align-self: flex-start;
  padding: 0 10px;
  width: 150px;
  border-right: 1px solid #666;
}

.line {
  align-self: flex-start;
  padding: 0 10px;
}
