<div class="container">
  <form>
    <div class="form-group">
      <label for="registry">Registry</label>
      <input
        id="registry"
        type="text"
        class="form-control"
        name="registry"
        [(ngModel)]="registry"
        (ngModelChange)="updateRegistry($event)"
        placeholder="https://registry.kevoree.org"
        aria-describedby="registryHelp">
      <p id="registryHelp" class="form-text text-muted">
        Specify the URL of a Kevoree Registry (eg. https://registry.kevoree.org)
      </p>
    </div>
  </form>
</div>
